<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="card-panel teal lighten-2">
    <h1 class="white-text ">
      Evolution
    </h1>
  </div>
  <div class="row">
    <div class="col s12 l12 m12">
      <div class="card-panel">
        <div>
          <div class="blue-text text-darken-2">
            <label for="treesNumI">Population Size
              <input id="treesNumI" [(ngModel)]="numberOfTrees" type="text"/></label>
          </div>
          <a class="waves-effect waves-light btn" (click)="getTrees()">Generate Random Population</a>
        </div>
        <div class="card-panel">
          <div *ngFor="let tree of trees">
            <div class="col sm12 l3 m6 row light-blue" [ngClass]="{'light-blue': tree.selected}">
              <div class="col sm8 l8 m8">
                <div class="card-image">
                  <img width="100%" height="100%" (click)="select(tree)"
                       src="/image/{{tree.length.value.toFixed(2)}}/{{tree.minLength.value.toFixed(2)}}/{{tree.lengthFactor.value.toFixed(2)}}/{{tree.widthFactor.value.toFixed(2)}}/{{tree.angleFactor.value.toFixed(2)}}/{{tree.width.value.toFixed(2)}}/{{tree.maxLevel.value.toFixed(0)}}"/>
                </div>
                s
                <div>
                  <a class="waves-effect waves-light  btn-small" (click)="getChildren(tree)">Parent</a>
                </div>
              </div>
              <div class="col sm4 l4 m4">
                <p>L: {{tree.length.value.toFixed(2)}}<br/>
                  Lm: {{tree.minLength.value.toFixed(2)}}<br/>
                  Lf: {{tree.lengthFactor.value.toFixed(2)}}<br/>
                  W: {{tree.width.value.toFixed(2)}}<br/>
                  Wf: {{tree.widthFactor.value.toFixed(2)}}<br/>
                  Af: {{tree.angleFactor.value.toFixed(2)}}<br/>
                  LV: {{tree.maxLevel.value.toFixed(0)}}</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>


